<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puertas de Embarque</title>

<!-- CSS -->
<link rel="stylesheet" href="/styles.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


</head>
<body>

    <!-- Navbar -->
    <%- include('navbar') %>

    <header>
    <div class="container">
        <h1>Puertas de Embarque</h1>
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número de Puerta</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Avión Asignado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% puertasEmbarque.forEach(puerta => { %>
                <tr>
                    <td><%= puerta.numero %></td>
                    <td><%= puerta.disponible ? 'Disponible' : 'Asignado' %></td>
                    <td>
                        <% if (puerta.avionAsignado) { %>
                        <%= `${puerta.avionAsignado.registro} - ${puerta.avionAsignado.aerolinea}` %>
                        <% } else { %>
                        Sin asignar
                        <% } %>
                    </td>
                    <td>
                        <% if (puerta.disponible) { %>
                        <form class="asignar-form" action="/puertas-embarque/asignar" method="POST">
                            <input type="hidden" name="puertaEmbarque" value="<%= puerta.numero %>">
                            <button type="submit" class="btn btn-primary">Asignar Avión</button>
                        </form>
                        <% } else { %>
                        <form class="desasignar-form" action="/puertas-embarque/desasignar" method="POST">
                            <input type="hidden" name="puertaEmbarque" value="<%= puerta.numero %>">
                            <button type="submit" class="btn btn-danger">Desasignar Avión</button>
                        </form>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</header>

<!-- Footer -->
    
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- JS -->
<script src="/main.js"></script>
<script src="/Avion.js"></script>
    </body>
    </html>